@model DatabaseReader.Models.WorkoutModel

@{
    ViewBag.Title = "DisplayWorkout";
}

<h2>DisplayWorkout</h2>

<div>
    <h4>WorkoutModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Burnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Burnt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
